@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.text-gradient-dark {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #4b0082 0.89%,
    #6a2c70 17.23%,
    #8a2be2 42.04%,
    #a020f0 55.12%,
    #ba55d3 71.54%,
    #da70d6 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}






